# ========================================
# Keil MDK 编译产物
# ========================================

*.o
*.d
*.axf
*.crf
*.dep
*.hex
*.bin
*.map
*.lnp
*.lst
*.htm
*.build_log.htm
*.uvguix.*
*.uvoptx
*.scvd

# ========================================
# 编译输出目录（适配所有子工程）
# ========================================

**/MDK-ARM/Objects/
**/MDK-ARM/Listings/
**/MDK-ARM/DebugConfig/
**/MDK-ARM/RTE/

# ========================================
# VSCode
# ========================================

**/.vscode/*
!**/.vscode/settings.json

# ========================================
# 系统文件
# ========================================

Thumbs.db
desktop.ini
.DS_Store

# ========================================
# Python
# ========================================

__pycache__/
*.pyc
